<h2>Trips</h2>
<a href="/trips/new" class="button">New trip</a>

<% if @current %>
<ul class="trip-list" id="trip-list-current">
  <li>

    <table>
    <thead>
      <a href="/trip/<%= @current.id()%>" class="trip-name"><h3><%= @current.name() %></h3></a>
    </thead>
    <tr>
    <% if @current.budget() > 0 %>
      <th>Spending money left:</th>
      <td class="amount"><%= Money.convert_to_decimal_string(@current.remaining_budget) %></td>
    <% else %>
      <th>Amount spent:</th>
      <td class="amount"><%= Money.convert_to_decimal_string(@current.expenditure_total) %></td>
    <% end %>
    </tr>
    </table>

    <a href="/trip/<%= @current.id() %>/new" class="button">New transaction</a>
    <a href="/trip/<%= @current.id()%>" class= "button">See transactions</a>
    <a href="/trips/<%= @current.id()%>/edit">Edit</a>
    <form class="delete button" action="/trips/<%= @current.id() %>/delete" method="post">
        <input type="submit" value="Delete Trip">
    </form>

  </li>
</ul>
<% end %>


<ul class="trip-list">
  <% for trip in @other_trips %>
  <li><table>
    <thead>
      <a href="/trip/<%= trip.id()%>" class="trip-name"><h3><%= trip.name() %></h3></a>
    </thead>
    <tr>
      <th>Amount spent:</th>
      <td class="amount"><%= Money.convert_to_decimal_string(trip.expenditure_total()) %></td>
    </tr>
    </table>

    <a href="/trip/<%= trip.id()%>" class="button">See transactions</a>
    <a href="/trips/<%= trip.id()%>/edit" class="button">Edit</a>
    <form class="delete button" action="/trips/<%= trip.id() %>/delete" method="post">
      <input type="submit" value="Delete Trip">
    </form>

   </li>
<% end %>
</ul>
