<form class="details-form" action="/item/<%= @item.id() %>/<%= @item.transaction_id() %>/update" method="post">

  <input type="text" name="name" placeholder="What is the item?" value="<%= @item.name() %>" required>

  <label for="amount">Price of item:</label>
  <input type="number" name="amount" min="0" step="0.01" id="amount" placeholder="0.00" min="0.01" value="<%= Money.convert_to_decimal_string(@item.amount()) %>" required>

  <input type="submit" value="Add item">
  <a href="/transaction/<%= @item.transaction_id() %>">Back</a>
</form>
