<h2>Items for <%= @transaction.name() %></h2>
<a href="/tags/new" class="button">Make new tag</a>
<ul>
  <% for tag in @tags %>
    <li><a href="/tag/<%= tag.id() %>"><%= tag.name() %></a>
      <a href="/tag/<%= tag.id() %>/edit">Edit</a>
      <form class="delete button" action="/tag/<%= tag.id() %>/delete" method="post">
          <input type="submit" value="Delete Tag">
      </form>
    </li>
  <% end %>
</ul>
