<h2><%= @person.name() %></h2>
<a href="/person/<%= @person.id() %>/edit">Edit name</a>
<a href="/people" class="button">To list of people</a>
<a href="/person_trans/<%= @person.id() %>/person">Add owing for a transaction</a>
<a href="/person_trans/<%= @person.id() %>/person/trip">Add owing for a trip</a>
<form class="delete button" action="/person/<%= @person.id() %>/delete" method="post">
    <input type="submit" value="Remove record">
</form>
<% if @transactions.length() > 0 %>
<h3>They owe you for:</h3>
<ul>
  <% for transaction in @transactions %>
    <li> <a href="/transaction/<%= transaction[0].id() %>">
      <% if transaction[0].name().match?("Lent") %>
        <h4>Borrowed on <%= transaction[0].find_trip().name() %></h4>
      <% else %>
        <h4><%= transaction[0].name() %></h4>
      <% end %>
    </a> whilst on: <a href="/trip/<%= transaction[0].trip_id() %>"><%= transaction[0].find_trip().name() %></a>
    <form class="delete button" action="/person_trans/<%= transaction[1] %>" method="post">
      <input type="submit" value="Delete">
    </form> </li>
  <% end %>
  <% end %>
</ul>
