<h2><%= @person.name() %></h2>
<a href="/person/<%= @person.id() %>/edit">Edit name</a>
<a href="/people" class="button">To list of people</a>
<a href="/person_trans/<%= @person.id() %>/person">Add owing for a transaction</a>
<a href="/person_trans/<%= @person.id() %>/person/trip">Add owing for a trip</a>
<form class="delete button" action="/person/<%= @person.id() %>/delete" method="post">
    <input type="submit" value="Remove record">
</form>

<h3>They owe you for:</h3>
<ul>
  <% for transaction in @person.find_transactions() %>
    <li> <a href="/transaction/<%= transaction.id() %>"><% if transaction.name().length == 0 %>
      <h4><%= transaction.date() %></h4>
      <% elsif transaction.name().match?("Lent to #{@person.name()}") %>
        <h4>Borrowed on <%= transaction.find_trip().name() %></h4>
      <% else %>
        <h4><%= transaction.name() %></h4>
      <% end %>
    </a> whilst on: <a href="/trip/<%= transaction.trip_id() %>"><%= transaction.find_trip().name() %></a> </li>
  <% end %>
</ul>
