<h2><%= @person.name() %></h2>
<a href="/person/<%= @person.id() %>/edit">Edit name</a>
<a href="/people" class="button">To list of people</a>
<a href="/person_trans/<%= @person.id() %>/person">Add owing for a transaction</a>
<a href="/person_trans/<%= @person.id() %>/person/trip">Add owing for a trip</a>
<form class="delete button" action="/person/<%= @person.id() %>/delete" method="post">
    <input type="submit" value="Remove record">
</form>
<% if @relationships.length() > 0 %>
<h3>They owe you for:</h3>
<ul>
  <% for relationship in @relationships %>
    <li> <a href="/transaction/<%= relationship[1].id() %>">
      <% if relationship[1].name().match?("Lent") %>
        <h4>Borrowed on <%= relationship[1].find_trip().name() %></h4>
        <form class="delete button" action="/person_trans/<%= relationship[0].id() %>/delete/trip" method="post">
          <input type="submit" value="Delete">
        </form>
        <a href="/person_trans/<%= relationship[0].id() %>/edit/trip">Update</a>
      <% else %>
        <h4><%= relationship[1].name() %></h4>
        <form class="delete button" action="/person_trans/<%= relationship[0].id() %>/delete" method="post">
          <input type="submit" value="Delete">
        </form>
        <a href="/person_trans/<%= relationship[0].id() %>/edit">Update</a>
      <% end %>
      </a>
      <li>Amount borrowed: <%= Money.convert_to_decimal_string(relationship[0].owe()) %></li>
      whilst on: <a href="/trip/<%= relationship[1].trip_id() %>"><%= relationship[1].find_trip().name() %></a>
    </li>
  <% end %>
  <% end %>
</ul>
