<h2><%= @person.name() %></h2>
<a href="/person/<%= @person.id() %>/edit">Edit name</a>
<a href="/people" class="button">To list of people</a>
<form class="delete button" action="/person/<%= @person.id() %>/delete" method="post">
    <input type="submit" value="Delete Tag">
</form>

<h3>They owe you for:</h3>
<ul>
  <% for transaction in @person.find_transactions() %>
    <li> <a href="/transaction/<%= transaction.id() %>"><% if transaction.name().length > 0 %>
      <h3><%= transaction.name() %></h3>
      <% else %>
      <h3><%= transaction.date() %></h3>
      <% end %>
    </a> whilst on: <a href="/trip/<%= transaction.trip_id() %>"><%= transaction.find_trip().name() %></a> </li>
  <% end %>
</ul>
