<form class="details-form" action="/transaction/<%= @transaction.id %>/update" method="post">

  <div class="details-form-row">
    <label for="date" class="details-form-cell">Date of the transaction:</label>
    <input type="date" name="timelog" id="date" class="details-form-cell" value=<%= @transaction.date() %>>
  </div>

  <div class="details-form-row">
    <label for="name" class="details-form-cell">How to identify the transaction?</label>
    <input type="text" name="name" placeholder="optional" class="details-form-cell" value="<%= @transaction.name() %>">
  </div>

  <div class="details-form-row">
    <label for="amount" class="details-form-cell">How much did you spend?</label>
    <input type="number" name="amount" min="0" step="0.01" id="amount" placeholder="0.00" min="0.01" class="details-form-cell" value="<%= Money.convert_to_decimal_string(@transaction.amount()) %>" required>
  </div>

  <div class="details-form-row">
    <label class="details-form-cell">
      Trip you were on:
      <select name="trip_id" class="details-form-cell">
        <% for trip in @trips %>
        <option value="<%= trip.id %>" <%= "selected" if @transaction.trip_id() == trip.id() %> ><%= trip.name %></option>
        <% end %>
      </select>
    </label>
  </div>

  <div class="details-form-row">
    <label for="bussines" class="details-form-checkbox">Bussiness expense?</label>
    <input type="checkbox" name="business" id="business" value="true" class="details-form-checkbox" <%= "checked" if @transaction.business() %> >
  </div>

  <div class="details-form-row">
    <label for="company" class="details-form-cell">Where did you spend your money?</label>
    <input type="text" name="company" id="company" placeholder="Optional" class="details-form-cell" value="<%= @transaction.company() %>">
  </div>

  <input type="submit" value="That's better!" class="details-form-submit-button">
  <a href="/transaction/<%= @transaction.id %>" class="details-form-submit-button">I liked the original</a>
</form>
