<table class="trip-details">

  <tr>
    <th><h2><%= @trip.name() %></h2></th>
    <td>
      <ul>
        <li>
          <h4>Trip status: </h4>
          <% if @trip.current() %>
            current trip
          <% else %>
            not current trip
          <% end %>
        </li>
        <% if @trip.budget() > 0 %>
          <li><h4>Spending money left: </h4><%= Money.convert_to_decimal_string(@remaining_budget) %></li>
          <li><h4>Current budget: </h4><%= Money.convert_to_decimal_string(@trip.budget) %></li>
        <% else %>
          <li><h4>Amount spent: </h4><%= Money.convert_to_decimal_string(@expenditure_total) %></li>
      <% end %>
      </ul>
    </td>
  </tr>
  <tr>
    <td colspan="2"><a href="/trips/<%= @trip.id()%>/edit" class="button">Edit trip details</a>
    <a href="/trip/<%= @trip.id() %>/new" class="button">New transaction</a></td>
  </tr>

</table>

<ul>
  <% if @transactions %>
    <% for transaction in @transactions %>
      <table class="detail-entry">
        <% if transaction[0].name() == "Lent" %>
          <tr>
            <th><h3>Lent to <a href="/person/<%= transaction[1][0].id() %>"><%= transaction[1][0].name() %></a></h3></th>
            <td>
              <a href="/transaction/<%= transaction[0].id %>" class="button">Details of lending</a>
              <form class="delete button" action="/transaction/<%= transaction[0].id() %>/delete" method="post">
                <input type="submit" value="Delete lending">
              </form>
            </td>
          </tr>
          <tr>
            <td> <%= transaction[0].date() %> </td>
          <tr>
        <% else %>
        <tr>
          <th><h3><%= transaction[0].name() %></h3><th>
          <td>
          <a href="/transaction/<%= transaction[0].id() %>/edit" class="button">Edit transaction</a>
          <a href="/transaction/<%= transaction[0].id %>" class="button">Details of transaction</a>
          <form class="delete button" action="/transaction/<%= transaction[0].id() %>/delete" method="post">
            <input type="submit" value="Delete transaction">
          </form>
          </td>
        </tr>
        <% end %>
        <tbody>
          <tr>
            <th>Spent:</th>
            <td> <%= Money.convert_to_decimal_string(transaction[0].amount()) %> </td>
          </tr>
          <% if transaction[0].company() %>
            <tr>
              <th>Spent at:</th>
              <td> <%= transaction[0].company() %> </td>
            </tr>
          <% end %>
          <tr>
            <th>Date of transaction: </th>
            <td><%= transaction[0].date() %></td>
          </tr>
        </tbody>
      </table>
    <% end %>
  <% else %>
    <h4>There are no transactions</h4>
  <% end %>
</ul>
