<table class="transactions-overview">

<thead>
  <h2><%= @trip.name() %></h2>
  <p class="current-status">
    <% if @trip.current() %>
      current trip
    <% else %>
      not current trip
    <% end %>
  </p>
</thead>
  <tr>
    <th>Trip start date:</th>
    <td type="date"> <%= @trip.date %> </td>
  </tr>
  <% if @trip.budget() > 0 %>
    <tr>
      <th>Spending money left:</th>
      <td class="amount"><%= Money.convert_to_decimal_string(@trip.remaining_budget) %></td>
    </tr>
    <tr>
      <th>Current budget:</th>
      <td class="amount"><%= Money.convert_to_decimal_string(@trip.budget) %></td>
    </tr>
  <% else %>
    <tr>
      <th>Amount spent:</th>
      <td class="amount"><%= Money.convert_to_decimal_string(@trip.expenditure_total) %></td>
    </tr>
  <% end %>
  <tr><a href="/trip/<%= @trip.id() %>/new" class="button">New transaction</a></tr>
</table>

<ul>
  <% if transactions = @trip.find_transactions() %>
    <% for transaction in transactions %>
      <table>
        <thead>
          <% if transaction.name().length > 0 %>
            <h3><%= transaction.name() %></h3>
            <p> <%= transaction.date() %> </p>
          <% else %>
            <h3><%= transaction.date() %></h3>
          <% end %>
        </thead>
        <tbody>
          <tr>
            <th>Spent:</th>
            <td> <%= Money.convert_to_decimal_string(transaction.amount()) %> </td>
          </tr>
          <% if transaction.company() %>
            <tr>
              <th>Spent at:</th>
              <td> <%= transaction.company() %> </td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <a href="/transaction/<%= transaction.id %>">Details of transaction</a>
          <a href="/transaction/<%= transaction.id() %>/edit" class="button">Edit</a>
        </tfoot>
      </table>
    <% end %>
  <% else %>
    <p>There are no transactions</p>
  <% end %>
</ul>
