<table class="transactions-overview">

<thead>
  <h2><%= @trip.name() %></h2>
  <p class="current-status">
    <% if @trip.current() %>
      current trip
    <% else %>
      not current trip
    <% end %>
  </p>
  <a href="/trips/<%= @trip.id()%>/edit">Edit</a>
</thead>
  <tr>
    <th>Trip start date:</th>
    <td type="date"> <%= @trip.date %> </td>
  </tr>
  <% if @trip.budget() > 0 %>
    <tr>
      <th>Spending money left:</th>
      <td class="amount"><%= Money.convert_to_decimal_string(@remaining_budget) %></td>
    </tr>
    <tr>
      <th>Current budget:</th>
      <td class="amount"><%= Money.convert_to_decimal_string(@trip.budget) %></td>
    </tr>
  <% else %>
    <tr>
      <th>Amount spent:</th>
      <td class="amount"><%= Money.convert_to_decimal_string(@expenditure_total) %></td>
    </tr>
  <% end %>
  <tr><a href="/trip/<%= @trip.id() %>/new" class="button">New transaction</a></tr>
</table>

<ul>
  <% if @transactions %>
    <% for transaction in @transactions %>
      <table>
        <thead>
          <% if transaction[0].name() == transaction[0].date() %>
            <h3><%= transaction[0].name() %></h3>
            <a href="/transaction/<%= transaction[0].id() %>/edit" class="button">Edit</a>
          <% elsif transaction[0].name() == "Lent" %>
            <h3>Lent to <a href="/person/<%= transaction[1][0].id() %>"><%= transaction[1][0].name() %></a></h3>
            <p> <%= transaction[0].date() %> </p>
          <% else %>
            <h3><%= transaction[0].name() %></h3>
            <p> <%= transaction[0].date() %> </p>
            <a href="/transaction/<%= transaction[0].id() %>/edit" class="button">Edit</a>
          <% end %>
        </thead>
        <tbody>
          <tr>
            <th>Spent:</th>
            <td> <%= Money.convert_to_decimal_string(transaction[0].amount()) %> </td>
          </tr>
          <% if transaction[0].company() %>
            <tr>
              <th>Spent at:</th>
              <td> <%= transaction[0].company() %> </td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <a href="/transaction/<%= transaction[0].id %>">Details of transaction</a>
          <form class="delete button" action="/transaction/<%= transaction[0].id() %>/delete" method="post">
              <input type="submit" value="Delete Transaction">
          </form>
        </tfoot>
      </table>
    <% end %>
  <% else %>
    <p>There are no transactions</p>
  <% end %>
</ul>
