<table class="transaction-details">

  <tr class="header">
      <% if @transaction.name() == "Lent" %>
        <td>
          <h2>Lent to <a href="/person/<%= @people[0].id() %>"><%= @people[0].name() %></a></h2> <br>
          <a href="/trip/<%= @transaction.trip_id() %>" class="button">Back to trip</a>
          <form class="delete button" action="/transaction/<%= @transaction.id() %>/delete" method="post">
          <input type="submit" value="Delete Transaction">
        </form>
        </td>
        <td>
          <ul>
            <li><h4>Date of transaction: </h4><%= @transaction.date() %></li>
            <li><h4>Transaction type: </h4>
            <% if @transaction.business() %>
              Business expense
            <% else %>
              Non-business expense
            <% end %></li>
            <li><h4>Spent: </h4><%= Money.convert_to_decimal_string(@transaction.amount()) %> </li>
            <% if @transaction.company() %>
              <li><h4>Spent at: </h4><%= @transaction.company() %> </li>
            <% end %>
            <li><h4>Whilst on:</h4><%= @transaction.find_trip().name() %></li>
          </ul>
        </td>
      <% else %>
        <td>
          <h2><%= @transaction.name() %></h2> <br>
          <a href="/transaction/<%= @transaction.id() %>/edit" class="button">Edit transaction</a>
          <a href="/trip/<%= @transaction.trip_id() %>" class="button">Back to trip</a>
          <form class="delete button" action="/transaction/<%= @transaction.id() %>/delete" method="post">
          <input type="submit" value="Delete Transaction">
          </form>
        </td>
        <td>
          <ul>
            <li><h4>Date of transaction: </h4><%= @transaction.date() %></li>
            <li><h4>Transaction type: </h4>
            <% if @transaction.business() %>
              Business expense
            <% else %>
                Non-business expense
            <% end %></li>
            <li><h4>Spent: </h4><%= Money.convert_to_decimal_string(@transaction.amount()) %> </li>
            <% if @transaction.company() %>
              <li><h4>Spent at: </h4><%= @transaction.company() %> </li>
            <% end %>
            <li><h4>Whilst on:</h4><%= @transaction.find_trip().name() %></li>
          </ul>
        </td>
        <td></td>
      </td>
    <% end %>
  </tr>

  <tr class="transaction-breakdown-list">
    <td colspan="2"><h3>Breakdown:</h3></td>
  </tr>

    <tr class="transaction-breakdown-list">
      <td><h4>Tags:</h4> <br>
      <a href="/trans-tag/<%= @transaction.id() %>">Add tag</a></td>
      <td>
        <ul>
          <% for tag in @tags %>
            <li> <a href="/tag/<%= tag.id() %>"><%= tag.name() %></a> <form class="delete button" action="/trans_tag/<%= @transaction.id() %>/<%= tag.id() %>/delete" method="post">
              <input type="submit" value="Remove">
            </form></li>
          <% end %>
        </ul>
      </td>
    </tr>
    <tr class="transaction-breakdown-list">
      <td><h4>Items:</h4> <br>
      <a href="/item/<%= @transaction.id() %>/new">Add item</a></td>
      <td>
        <ul>
          <% for item in @items %>
          <li> <%= item.name() %> for <%= Money.convert_to_decimal_string(item.amount()) %>
          <form class="delete button" action="/item/<%= item.id() %>/delete" method="post">
          <input type="submit" value="Remove">
          </form>
          <a href="/item/<%= item.id() %>/edit" class="button">Change details</a>
         </li>
      <% end %>
      </ul></td>
    </tr>
    <% unless @transaction.name() == "Lent" %>
    <tr class="transaction-breakdown-list">
      <td><h4>People who have borrowed on this trip:</h4></td>
      <td> <ul>
        <% for person in @people %>
          <li> <a href="/person/<%= person.id() %>"><%= person.name() %></a> <%= Money.convert_to_decimal_string(person.find_owing_for_transaction(@transaction.id())) %> </li>
        <% end %>
      </ul> </td>
    </tr>
    <% end %>
  </tbody>
</table>
