<table class="transactions-overview">

  <thead>
    <th><h3><% if @transaction.name() == @transaction.date() %>
        <%= @transaction.name() %></h3></th>
        <td><a href="/transaction/<%= @transaction.id() %>/edit" class="button">Edit</a></td>
      <% elsif @transaction.name() == "Lent" %>
        Lent to <a href="/person/<%= @people[0].id() %>"><%= @people[0].name() %></a>
      <% else %>
        <%= @transaction.name() %></h3></th>
        <td><p><%= @transaction.date() %></p></td>
    <% end %>

    <td><p><% if @transaction.business() %>
        Business expense
      <% else %>
        Non-business
      <% end %>
    </p></td>
  </thead>

  <tbody>
    <tr>
      <th>Spent:</th>
      <td> <%= Money.convert_to_decimal_string(@transaction.amount()) %> </td>
    </tr>
    <% if @transaction.company() %>
      <tr>
        <th>Spent at:</th>
        <td> <%= @transaction.company() %> </td>
      </tr>
    <% end %>
    <tr>
      <th>Whilst on:</th>
      <td><%= @transaction.find_trip().name() %></td>
    </tr>
    <tr>
      <th>Tags:</th>
      <td><ul>
        <% for tag in @tags %>
          <li> <a href="/tag/<%= tag.id() %>"><%= tag.name() %></a> <form class="delete" action="/trans_tag/<%= @transaction.id() %>/<%= tag.id() %>/delete" method="post">
            <input type="submit" value="Remove">
          </form> </li>
        <% end %>
        <li><a href="/trans-tag/<%= @transaction.id() %>">Add tag</a></li>
      </ul></td>
    </tr>
    <th>Items:</th>
    <td><ul>
      <% for item in @items %>
        <li> <%= item.name() %>
          <form class="delete" action="/item/<%= item.id() %>/delete" method="post">
          <input type="submit" value="Remove">
        </form> </li>
      <% end %>
      <li><a href="/item/new">Add item</a></li>
    </ul></td>
  </tr>
    <% unless @transaction.name() == "Lent" %>
    <tr>
      <th>People who have borrowed on this trip</th>
      <td> <ul>
        <% for person in @people %>
          <li> <a href="/person/<%= person.id() %>"><%= person.name() %></a> <%= Money.convert_to_decimal_string(person.find_owing_for_transaction(@transaction.id())) %> </li>
        <% end %>
      </ul> </td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td><a href="/trip/<%= @transaction.trip_id() %>" class="button">Back to trip</a></td>
      <td>
        <form class="delete button" action="/transaction/<%= @transaction.id() %>/delete" method="post">
        <input type="submit" value="Delete Transaction">
      </form></td>
    </tr>
  </tfoot>
</table>
