<table class="transactions-overview">

  <thead>
    <th><h3><%= @transaction.name() %></h3></th>
    <td><p><%= @transaction.date() %></p></td>
    <td><p><% if @transaction.business() %>
        Business expense
      <% else %>
        Non-business
      <% end %>
    </p></td>
  </thead>

  <tbody>
    <tr>
      <th>Spent:</th>
      <td> <%= Money.convert_to_decimal_string(@transaction.amount()) %> </td>
    </tr>
    <% if @transaction.company() %>
      <tr>
        <th>Spent at:</th>
        <td> <%= @transaction.company() %> </td>
      </tr>
    <% end %>
    <tr>
      <th>Whilst on:</th>
      <td><%= Trip.find(@transaction.trip_id()).name() %></td>
    </tr>
    <tr>
      <th>Tags:</th>
      <td><ul>
        <% for tag in @transaction.find_tags() %>
          <li><%= tag.name() %> <form class="delete" action="/trans_tag/<%= @transaction.id() %>/<%= tag.id() %>/delete" method="post">
            <input type="submit" value="Remove">
          </form> </li>
        <% end %>
        <li><a href="/trans-tag/<%= @transaction.id() %>">Add tag</a></li>
      </ul></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td><a href="/transaction/<%= @transaction.id() %>/edit" class="button">Edit</a></td>
      <td><a href="/trip/<%= @transaction.trip_id() %>" class="button">Back to transaction</a></td>
      <td>
        <form class="delete button" action="/transaction/<%= @transaction.id() %>/delete" method="post">
        <input type="submit" value="Delete Transaction">
      </form></td>
    </tr>
  </tfoot>
</table>
