<form class="create-owing" action="/person_trans/<%= @person_trans.id() %>/<%= @person_trans.person_id() %>/update" method="post">
  <select class="owing-options" name="transaction_id">
    <% for transaction in @transactions %>
      <option value="<%= transaction.id() %>" <%= "selected" if transaction.id() == @person_trans.transaction_id() %>>
        <p><%= transaction.name() %> on <%= transaction.find_trip().name() %> </p>
      </option>
    <% end %>
  </select>

  <label for="owe">How much do they owe you?</label>
  <input type="number" name="owe" min="0" step="0.01" id="owe" placeholder="0.00" min="0.01" value="<%= Money.convert_to_decimal_string(@person_trans.owe()) %>" required>

  <input type="submit" value="That's better!">
  <a href="/person/<%= @person_trans.person_id() %>">I liked the original</a>
</form>
