<form class="details-form" action="/person_trans/<%= @person_trans.id() %>/update/trip" method="post">

  <select class="details-form-name-input" name="trip_id">
    <% for trip in @trips %>
      <option value="<%= trip.id() %>" <%= "selected" if trip.id() == @transaction.trip_id() %>>
        <%= trip.name() %>
      </option>
    <% end %>
  </select>

  <div class="details-form-row">
    <label for="owe" class="details-form-cell">How much do they owe you?</label>
    <input type="number" name="owe" min="0" step="0.01" id="owe" placeholder="0.00" min="0.01" class="details-form-cell" required value="<%= Money.convert_to_decimal_string(@transaction.amount()).delete('£ ') %>" >
  </div>

  <div class="details-form-row">
    <label for="date" class="details-form-cell">Date you lent (optional):</label>
    <input type="date" name="timelog" id="date" value="<%= @person_trans.date() %>" class="details-form-cell">
  </div>

  <input type="submit" value="That's better!" class="details-form-submit-button">
  <a href="/person/<%= @person_trans.person_id() %>" class="details-form-submit-button">I liked the original</a>

</form>
