<form class="details-form" action="/person_trans/<%= @person_trans.id() %>/<%= @person_trans.person_id() %>/update" method="post">

  <label class="details-form-name-input"><%= @transaction.name() %></label>
  <input type="checkbox" name="transaction_id" value="<%= @transaction.id() %>" checked hidden>

  <div class="details-form-row">
    <label for="owe" class="details-form-cell">How much do they owe you?</label>
    <input type="number" name="owe" min="0" step="0.01" id="owe" min="0.01" class="details-form-cell"
    placeholder="<%= Money.convert_to_decimal_string(@max_amount).delete('£ ') %> left to assign"
    value="<%= Money.convert_to_decimal_string(@max_amount).delete('£ ') %>"
    max="<%= Money.convert_to_decimal_string(@max_amount).delete('£ ') %>"  required>
  </div>

  <input type="submit" value="That's better!" class="details-form-submit-button">
  <a href="/person_trans/<%= @person_trans.id %>/edit" class="details-form-submit-button">Try a different transaction</a>
</form>
